MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/manhaus-barber?retryWrites=true&w=majority
PORT=3000
ADMIN_PASSWORD=tu_clave_secreta_admin
FRONTEND_URL=https://manhaus-barber.netlify.app
